<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Screener.Client.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Screener.Client.Test.Properties.Settings>
            <setting name="UdpSendPort" serializeAs="String">
                <value>22122</value>
            </setting>
            <setting name="UdpReceivePort" serializeAs="String">
                <value>22121</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>11211</value>
            </setting>
        </Screener.Client.Test.Properties.Settings>
    </applicationSettings>
</configuration>